/* Wrapper */
.wrapper {
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
    background-color: #E3D5De;
    padding: 10px;
}

/* Body Styling */
body {
    background-color: #21ebaa;
    line-height: 1.5;
} 

header {
    padding: 300px;
    background-color: rgb(0, 195, 221);
    background-image: url(../images/dogo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header img {
    float: right;
}

h4 {
    text-align: center;
}

/* Navigation Styling */
nav {
    display: flex;
    justify-content: space-around;
    background-color: #1825db;
    overflow: hidden;
 } 

nav a {
    color: #E3D5De;
    font-size: 2em;
    text-decoration: none;
}

/* Nav Hover Styling */

nav a:hover {
    background-color: #bae2f4;
    color: #ac74d6;
}

/* About Us styling */

.owner img {
    height: auto;
    width: 400px;
    padding-bottom: 25px;
}
.owner1 {
    width: 400px;
}
.try {
    width: 400px;
    text-align: center;
}

.try h1 {
    background-color: #ac74d6;
    border-radius: 35px;
    animation-name: try;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes try {
    25% {
        background-color: #bae2f4;
    }
    50% {
        background-color: #21ebaa;
    }
    75% {
        background-color: #ac74d6;
    }
}

.one {
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 
    "us us "
    "abo abo"
    "own rev"
    "own rev"
    "try con";
}

.us {
    grid-area: us;
}
.about1 {
    grid-area: abo;
}
.reviews {
    grid-area: rev;
}
.contact {
    grid-area: con;
}
.owner {
    grid-area: own;
}
.try {
    grid-area: try;
}

/* Grid for dog coats */

.two {
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
    "one two three"
    "ones twos threes"
    "four five six"
    "fours fives sixs";
}

.img1 {
    grid-area: one;
}
.des1 {
    grid-area: ones;
}
.img2 {
    grid-area: two;
}
.des2 {
    grid-area: twos;
}
.img3 {
    grid-area: three;
}
.des3 {
    grid-area: threes;
}
.img4 {
    grid-area: four;
}
.des4 {
    grid-area: fours;
}
.img5 {
    grid-area: five;
}
.des5 {
    grid-area: fives;
}
.img6 {
    grid-area: six;
}
.des6 {
    grid-area: sixs;
}

.three {
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
    "seven eight nine"
    "sevens eights nines"
    "ten eleven twelve"
    "tens elevens twelves";
}
.img7 {
    grid-area: seven;
}
.des7 {
    grid-area: sevens;
}
.img8 {
    grid-area: eight;
}
.des8 {
    grid-area: eights;
}
.img9 {
    grid-area: nine;
}
.des9 {
    grid-area: nines;
}
.img10 {
    grid-area: ten;
}
.des10 {
    grid-area: tens;
}
.img11 {
    grid-area: eleven;
}
.des11 {
    grid-area: elevens;
}
.img12 {
    grid-area: twelve;
}
.des12 {
    grid-area: twelves;
}
